apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-lab
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ai-lab
  template:
    metadata:
      labels:
        app: ai-lab
    spec:
      containers:
      - name: flask
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: ai-lab-config
        - secretRef:
            name: ai-lab-secrets
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi